<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <p>&#9776;</p>
    </label>
    <label class="title">GROCERY DELIVERY APP</label>
    <ul>
        <li><a href="#" routerLink="/home">Home</a></li>

        <li><a href="#" routerLink="/about">About Us</a></li>

        <li><a href="#" routerLink="/contact">Contact Us</a></li>

        <li><a href="#" routerLink="/cartlist">Cart List</a></li>

        <li><a href="#" routerLink="/addcart">Cart</a></li>




        <form class="example" action="action_page.php">

            <button type="submit"><i class=&#128269;></i></button>

        </form>

    </ul>

</nav>

<router-outlet></router-outlet>
