<!-- <app-navbar></app-navbar> -->
<body>
    <div class="text">
    <h2 style="color: rgb(139, 237, 229)"> What is Online Grocery Delivery</h2><br>
    <p>You call, we deliver.
        Always at your service.
        The best grocery delivery service in town.
        From the supermarket to your door.
        Delivering the essentials straight to your home.
        Busy? We got you covered.
        On time deliveries always.
        Trusted by every household.
        A grocery delivery service that doesn’t hurt your wallet.
        We’ll take care of the goods.
        Leave the grocery shopping to us.
        Have your groceries delivered in just a few taps.
        You need it, we deliver it.
        Delivery that is always on time</p>
</div>
</body>