<!-- <app-navbar></app-navbar> -->

<body>
    <div class="center">
        <!-- <img src="contact.jpg" alt="" width="200" height="100" align="right"> -->
        <br><h2 style="color: rgb(180, 45, 131)">Contact Us:-</h2>
        <br>
        <br>
        <b><p>Want to get in touch? We'd love to hear from you. Here's how you can reach us..</p></b><br>
            <br>
        <b><p>&#9742; +91 9143673507</p><br></b>
        <b><p>&#9993; online.grocerydelivery@gmail.com</p></b>


    </div>
</body>
