body {
  height: 1000px;
  margin: 0;
  display: flow-root;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
  background-size: cover;
  background: linear-gradient(135deg, #7cdddb, #4bc1c5);
}

.container {
  margin-top: 5%;
  margin-bottom: 50px;
  max-width: 1000px;
  height: 500px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}